<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Rubik:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <br />
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    ><strong>LA AGENCIA DE EDUCACI&Oacute;N POSTSECUNDARIA DE MEDELL&Iacute;N
        &ndash; SAPIENCIA</strong></p>
    <br />
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    ><strong>CERTIFICA</strong></p>
    <br />
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >Que<strong>&nbsp;{{treatment}} {{name}},</strong><strong
      >&nbsp;</strong>identificado con<strong
      >&nbsp;{{documentType}},&nbsp;</strong>n&uacute;mero<strong
      >&nbsp;</strong><strong>{{numberDocument}}</strong>, se encuentra
      vinculado a la AGENCIA DE EDUCACI&Oacute;N POSTSECUNDARIA DE
      MEDELL&Iacute;N &ndash; SAPIENCIA con NIT 900.602.106-0, as&iacute;</p>
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >Fecha de posesi&oacute;n<strong>:{{vinculationDate}}</strong></p>
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >Tipo de vinculaci&oacute;n:
      <strong>{{vinculationType}}</strong></p>
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >Tipo/nombre del empleo:
      <strong>{{charge}}</strong>
      Dependencia:
      <strong>{{dependency}}</strong></p>

    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    ><strong>Funciones:</strong></p>
    <br />
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    ><strong>{{specificObligations}}</strong></p>
    <br />
    <p
      style="text-align: start;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >Medell&iacute;n, <strong>{{date}}</strong></p>
    <br /><br /><br />
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    ><strong>{{nameProfesional}}</strong></p>
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >Profesional Universitario-Talento Humano</p>
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >Agencia de Educaci&oacute;n Postsecundaria de Medell&iacute;n &ndash;
      SAPIENCIA</p>
  </body>
</html>