<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Rubik:wght@300;400&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <br />
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    ><strong>LA AGENCIA DE EDUCACI&Oacute;N POSTSECUNDARIA DE MEDELL&Iacute;N
        &ndash; SAPIENCIA</strong></p>
    <br />
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    ><strong>CERTIFICA</strong></p>
    <br />
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 11pt;"
    >Que
      {{treatment}}
      <strong>{{name}}</strong>, identificado con&nbsp;{{documentType}},&nbsp;
      n&uacute;mero<strong>&nbsp;</strong>{{numberDocument}}, se encuentra
      vinculado a
      <strong>la AGENCIA DE EDUCACI&Oacute;N POSTSECUNDARIA DE MEDELL&Iacute;N
        &ndash; SAPIENCIA
      </strong>
      con NIT 900.602.106-0, as&iacute;</p>
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 11pt;"
    ><strong>Fecha de posesi&oacute;n:</strong>{{vinculationDate}}</p>
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 11pt;"
    ><strong>Tipo de vinculaci&oacute;n:</strong>
      {{vinculationType}}</p>
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 11pt;"
    ><strong>Tipo/nombre del empleo:</strong>
      {{charge}}
    </p>
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 11pt;"
    >
      <strong>Dependencia:</strong>
      {{dependency}}</p>

    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 11pt;"
    ><strong>Funciones:</strong></p>
    <br />
    <p
      style="text-align: justify;color: black;background-color: rgb(255, 255, 255);font-size: 11pt;"
    >{{specificObligations}}</p>
    <br />
    <p
      style="text-align: start;color: black;background-color: rgb(255, 255, 255);font-size: 11pt;"
    >Medell&iacute;n, {{date}}</p>
    <br /><br /><br />
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >{{nameProfesional}}</p>
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >Profesional Universitario-Talento Humano</p>
    <p
      align="center"
      style="text-align: center;color: black;background-color: rgb(255, 255, 255);font-size: 12pt;"
    >Agencia de Educaci&oacute;n Postsecundaria de Medell&iacute;n &ndash;
      SAPIENCIA</p>
  </body>
</html>